@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ccd5ff;
    font-family: "Josefin Sans";
    color: #1d2131
}

main {
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
}



.card-container {
    background-color: #e4e9feda;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    box-shadow: 1rem 1rem #1d2131;
    border: 0.15rem solid #1d2131;
    padding: 2rem 1rem;


.card-img {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0.65rem;
}

h1 {
    font-size: 2.5rem;
}

}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #4e64c8;
}

.designer-description {
    font-size: 1.45rem;
    font-weight: 400;
}

.designer-quote {
    font-style: italic;
    font-size: 1,35rem;
}

.card-button {
    background-color: #1030bc;
    color: #e4ebff;
    border-radius: 0.75rem;
    border-style: none;
    padding: 0.5rem 1rem;
    font-family: "Josephin Sans";
    font-size: 1.35rem;
}

.card-button:hover {
    background-color: #3b5bf6;
    color: #e4ebff;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 1.15rem;
    }
    .card-container {
        width: 100%;
        height: 100%
    }
    .designer-quote {
    font-size: 0.9rem;
    width: 100%;
    margin: 1rem 0;
    }
}
